<div class="container__big-card"> 

    <div class="big-card__photo">
        <img
        src="https://i.scdn.co/image/ab67616d0000b273bd5d937814595eeb925ab03f"
        alt=""
        height="200px"
        srcset="">
    </div>

    <div class="big-card__title">
        <h1> <a href="#">
            Saiu a nova versão do Angular
        </a> </h1>
    </div>

    <div class="big-card_description">
        <p>
        <a href="#">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta, nibh et cursus molestie, risus enim ultricies ligula, dapibus venenatis dolor est sit amet metus. Sed quam elit, auctor eget ullamcorper nec, suscipit ac tellus. Morbi ornare mi vitae tincidunt rutrum. Integer ullamcorper neque nibh, ultrices tempor tortor varius ut. Etiam quis mi sed nisi lobortis vestibulum. Fusce ut nulla et ante ultrices scelerisque ut ac est. Suspendisse mattis, ligula ac fringilla molestie, augue sem euismod nisi, a blandit sem sem auctor lacus. Pellentesque sit amet libero non orci congue venenatis.
        </a>
        </p>
    </div>

</div>